._footer {
    display: block; //see which is better, display flex or display block. 
    background-color: #4a4a4a;
    padding: 1%; //adds space around the content inside the footer. 
    margin-top: 0%; //adds margin to the top of the footer, pushing it down from the content above it.
    padding: 6%;
  }
  
  ._copyright {
    text-align: center;
    color: #fff;

  }
  
  ._footer_list_1 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    text-align: center;
    list-style: none; //Remove bullets
    margin-bottom: 5%;
    text-transform:uppercase;
  }

  ._footer_list_2 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    text-align: center;
    list-style: none; //Remove bullets
    margin-bottom: 5%;
    text-transform:uppercase;
    
  }
  
  ._footer_link a:link {
    color: blue;
    text-decoration: none;
  }
  ._footer_link a:visited {
    color: white;
  }
  ._footer_link a:hover {
    color: rgb(127, 56, 220);
  }

  ._footer_link {
    margin-right: 0,5%; // Add margin between links
    line-height: 2; // Add space between lines
    color: #fff;
    
  }
  
@media (min-width: 768px) {
  ._footer {
    text-align: center;
    width: 100%;
    
  }

  ._footer_list_1 {
    padding: 0;
    margin: 0;
  }

  ._copyright, ._footer_list_1, ._footer_list_2 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    font-size: 16px;
    padding: 2%;
    min-width: 300px;
    width: 33%;
  }

  ._copyright {
    text-align: left;
  }

}


@media (min-width: 1200px) {
    ._footer {
    padding: 3%;
  }

  ._footer_list {
    text-align: right;
  }
._copyright {
  text-align: left;
}
}
