._background_image {
  width: 100%;
  object-fit:cover; 
  height: 100%;
}

._hero_section {
  display: flex;
  justify-content: center;
  

}

._box {
  display: flex;
  position: absolute; //put the content at the center
  color: white;

  flex-direction: column;
  margin-inline: 2em;
}


._center_aligned {
  align-items: center;
  margin-inline: auto;

}

._hero_button {
  display: flex;
  margin-inline: 2em;


}
