
._container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

._background_image {
  background-image: cover;
  width: 100vw;
  height: 100vh;
  background-image: url(/images/cover.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

._box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  color: white;
 //margin-inline: 2em;

}

._title {
  font-size: large;
  margin-bottom: 30%;

}

._paragraph {

  //text-align: center;
  border: 1px solid gray;

}

._button {
  margin-inline: 2em;

}
