//////////// SECTION 1 /////////////////
._reasons_section_1 {
  display: inline;
  align-self: left;
  padding: 8%;

}

._reasons_article {
  margin-inline: 1em;
  text-align: left;
  padding: 2%;
  

}

/* working with the titles and paragraph over the images*/

._reasons_sub_subtile {
  font-family: Roboto-Regular;
  margin-top: 2%;
  display: block;
  color: #6c933e;
  font-size: smaller;

}
._reasons_subtitle {
  font-family: RobotoSlab-Bold;
  font-size:x-large;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;

}

._reasons_paragraph {
  color: #4a4a4a;
  font-family: Roboto-Regular;
  margin-top: 2%;
  margin-bottom: 10%;


}
/* Fin */

._reasons_comprar_button {
  color: #6c933e;
  background-color: white;
  padding: 10px 20px;
  border: solid 2px #6c933e;
  border-radius: 22.5px;
  cursor: pointer;
  justify-self: left;
  
}
._reasons_comprar_button:hover {
  background-color: #c5d3b6;
}

/// //////////// SECTION 2 //////////////////// 

._reasons_section_2 {
  justify-content: center;
  background-color: #d9e4cc;
  align-items: center;
  margin-top: 5%; 
  text-align: center;



}


._reasons_grid_article {
  display: grid;
  align-content: center;
  margin-inline: auto;
  width: 100%;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2%;

}

._reasons_centered {
  align-self: center;
  padding-left: calc(50%);
  padding-right: calc(50%);
  text-align: center;
  justify-content: center;
}

._reasons_image_grid {
  width: 114px;
  height: 114px;
  grid-area: auto;
  margin-top: 10%;
  border-radius: 100%;
  align-items: center;
  justify-content: center;

}

._reasons_image_label {
  margin-top: 5%;
  text-align: center;
}

._reasons_grid_button {
  color: white;
  background-color: #6c933e;
  padding: 10px 20px;
  border: none;
  border-radius: 22.5px;
  cursor: pointer;
  margin-top: 10%;
  align-self: center;

}

._reasons_grid_button:hover {
  background-color: #8cab68;
}





//////////// WEB RESPONSIVE ///////////////

//@media only screen and (max-width: 768px) {

  
@media (max-width:768px) {
  ._reasons_grid_article {
    grid-template-columns: 1fr;
    /*
    display: flexbox;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;*/
  }



}
