._grid_section_2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 columns with 1
  justify-content: center;
  align-items: center;
  gap: 2%; // space between images. 

}

._image_grid {
  width: 60%;
  height: 60%;
  

}

._grid_picture img {
  border-radius: 50%;
  align-content: center;

}