//////////// SECTION 1 /////////////////
._reasons_section_1 ._centered {
  display: inline;
  margin-bottom: 1em;
}

._centered {
  display: inline;
  margin-bottom: 1em;
}

._reasons_article {
  text-align: center;
  padding: 10%;
  
}


._sub_subtile {
  display: block;
  text-align: center;
  color: #6c933e;
  font-size: smaller;

}

._subtitle {
  text-align: center;

}

._paragraph {
  text-align: center;
  padding: 8%;
}

._comprar_button {
  color: #6c933e;
  background-color: white;
  padding: 10px 20px;
  border: solid 2px #6c933e;
  border-radius: 22.5px;
  cursor: pointer;
}

._comprar_button:hover {
  background-color: #c5d3b6;
}



/// //////////// SECTION 2 //////////////////// 

._reasons_section_2  {
 display: grid;
 grid-template-rows: center;
 background-color: #d9e4cc;
 margin-top: auto;
 
}

._grid_article {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 column 
  justify-content: center;
  gap: 20px; // space between images. 
  align-items: center;
}

._grid_picture img {
  border-radius: 60%; // achieve the images are rounded
  text-align: center;
}

._image_grid {
  width: 114px;
  height: 114px;
  text-align: center;
  height: auto;
}

._image_label {
  text-align: center;
  gap: 15%;
}


/* working with the titles over the images*/
._reasons_section_2 {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10%; //space between title (content) and images. 
}

 ._sub_sub_subtile {
  text-align: center;  
  margin-top: 5%;
}

._subtitle {
  text-align: center;
  font-size: normal;
  margin-top: 5%;
}
/* Fin */

._grid_button {
  color: white;
  background-color: #6c933e;
  padding: 10px 20px;
  border: none;
  border-radius: 22.5px;
  cursor: pointer;
}

._grid_button:hover {
  background-color: #8cab68;
}





//////////// WEB RESPONSIVE ///////////////

//@media only screen and (max-width: 768px) {

  @media (max-width: 768px) {
    ._reasons_section_2 {
      display: flexbox;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
    }

  ._grid_article {
    grid-template-columns: repeat(1, 1fr); // 3 columns with 1 
    gap: 2%; // space between images. 
    justify-content: center;  

  }
  
}


/* styles to minimize screen */
@media only screen and (max-width: 1000px) {

  ._container, ._reasons_section_1, ._reasons_section_2 {
    margin-bottom: 2%;

  }
}

