<footer class="_footer">
  <nav>
    <ul class="_footer_list_1">
      <li class="_footer_link"><a href="https://adalab.es">ZAPATILLAS</a></li>
      <li class="_footer_link"><a href="https://adalab.es">ROPA</a></li>
      <li class="_footer_link"><a href="https://adalab.es">NIÑO/A</a></li>
      <li class="_footer_link"><a href="https://adalab.es">DESTACADOS</a></li>
    </ul>
    <ul class="_footer_list_2">
      <li class="_footer_link"><a href="https://adalab.es">Twitter</a></li>
      <li class="_footer_link"><a href="https://adalab.es">Instagram</a></li>
      <li class="_footer_link"><a href="https://adalab.es">YOUTUBE</a></li>
    </ul>
  </nav>
  <div class="_copyright">
    <small class="_copyright_date">&copy;2023</small>
    <p><small class="_copyright_message">we ❤︎ run</small></p>
  </div>
</footer>