<footer class="_footer">
    <small class="_copyright">&copy;2023</small>
    <small class="_copyright">we ❤︎ run</small>
    <nav>
      <ul class="_footer_list">
          <li class="_footer_link"><a href="https://adalab.es">ZAPATILLAS</a></li>
          <li class="_footer_link"><a href="https://adalab.es">ROPA</a></li>
          <li class="_footer_link"><a href="https://adalab.es">NIÑO/A</a></li>
          <li class="_footer_link"><a href="https://adalab.es">DESTACADOS</a></li>

          <li class="_footer_link"><a href="https://adalab.es">Twitter</a></li>
          <li class="_footer_link"><a href="https://adalab.es">Instagram</a></li>
          <li class="_footer_link"><a href="https://adalab.es">YOUTUBE</a></li>
      </ul>
    </nav>
  </footer>
