<!-- MAIN HTML FILE INCLUDES TWO MAIN SECTIONS, THE HERO AND THE REASONS ONE, 
  WHICH HAVE A SEPARATE SCSS FILE EACH ONE -->

<main class="_main">

  <!-- HERO SECTION  -->

  <div id="start"></div>
  <section class="_hero_background_image">
    <div class="_hero_container">
      <div class="_hero_box">
        <h1 class="_hero_title">COMIENZOS COMPARTIDOS</h1>
        <p class="_hero_paragraph">Todo lo que necesitan para volver al cole con ilusión</p>
        <a href="#final" class="_hero_button">
          <img class="_hero_button_image" src="./images/ico-scroll-down.svg" alt="scroll down button">
        </a>
      </div>
  </section>
  <!-- FIN -->



  <!-- REASONS SECTIONS  -->

  <section class="_reasons_section_1">
    <article class="_reasons_article">
      <h5 class="_reasons_sub_subtile">HISTORIAS, MODA Y ROPA DEPORTIVA</h5>
      <h2 class="_reasons_subtitle">TU TIENDA DE DEPORTE</h2>
      <p class="_reasons_paragraph">El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para
        hombre y mujer te ofrece
        las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.</p>
      <div>
        <a href="https://adalab.es">
          <button class="_reasons_comprar_button">Comprar</button>
        </a>
      </div>
    </article>

  </section>

  <section class="_reasons_section_2">

    <h4 class="_reasons_grid_sub_sub_subtile">¡Prepáralos con tus marcas favoritas!</h4>
    <h2 class="_reasons_grid_subtitle">VUELTA AL COLE</h2>

    <article class="_reasons_grid_article">

      <div class="_reasons_centered">
        <img class="_reasons_image_grid" src="./images/lpbts-mod05-img01-desk.png" alt="schoolbag picture">
        <h4 class="_reasons_image_label">Mochilas escolares</h4>
      </div>
      <div class="_reasons_centered">
        <img class="_reasons_image_grid" src="./images/lpbts-mod05-img04-mob.png" alt="school pencil cases picture">
        <h4 class="_reasons_image_label">Estuches</h4>
      </div>
      <div class="_reasons_centered">
        <img class="_reasons_image_grid" src="./images/lpbts-mod05-img03-mob.png" alt="sports bags pictures">
        <h4 class="_reasons_image_label">Bolsas de deporte</h4>
      </div>

    </article>
    <div>
      <a href="https://adalab.es">
        <button class="_reasons_grid_button _reasons_centered">Empezar ahora</button>
      </a>
    </div>

    <!-- div at the end of the section linked -->
    <div id="final"></div>
    <a href="#start" class="_hero_button_footer">
      <img class="_hero_button_image" src="./images/ico-arrow.svg" alt="scroll up button">
    </a>
  </section>
  <!-- FIN -->

</main>