<main class="_main">

  <Section class="_hero_section">
    <h1 class="_title">COMIENZOS COMPARTIDOS</h1>
    <div class="_cover_image_container">
      <img src="./images/cover.jpeg" alt="Cover image">
    </div>
    <p class="_hero_text">
      Todo lo que necesitan para volver al cole con ilusión
    </p>
    <nav>
      <button class="_hero_button">
        <img class="_scroll_down_button" src="./images/ico-scroll-down.svg" alt="scroll down button">
      </button>
    </nav>
  </section>

  <section class="_reasons_section_1">
    <article class="_reasons_article">
      <h3 class="_sub_subtile">HISTORIAS, MODA Y ROPA DEPORTIVA</h3>
      <h2 class="_subtitle">TU TIENDA DE DEPORTE</h2>
      <P>El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te ofrece
        las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.</P>
    </article>
    <nav>
      <button class="_comprar_button">Comprar</button>
    </nav>
  </section>
  <section class="_reasons_section_2">

    <h4 class="_sub_sub_subtile">¡Prepáralos con tus marcas favoritas!</h4>
    <h2 class="_subtitle">VUELTA AL COLE</h2>
    <article class="_grid_section_2">
      <nav class="">
        <img src="./images/lpbts-mod05-img01-desk.png" alt="schoolbag picture">
        <p>Mochilas escolares</p>
      </nav>
      <nav>
        <img src="./images/lpbts-mod05-img04-mob.png" alt="school pencil cases picture">
        <p>Estuches</p>
      </nav>
      <nav>
        <img src="./images/lpbts-mod05-img03-mob.png" alt="sports bags pictures">
        <p>Bolsas de deporte</p>
      </nav>
      <nav>
        <button>Empezar ahora</button>
      </nav>
    </article>
  </section>

</main>