<main class="_main">
  <section class="_container _background_image">
    <div class="_box">
      <h1 class="_title">COMIENZOS COMPARTIDOS</h1>
      <p class="_paragraph">Todo lo que necesitan para volver al cole con ilusión</p>
      <button class="_button"> <img src="./images/ico-scroll-down.svg" alt="scroll down button"></button>
    </div>
  </section>



  <section class="_reasons_section_1">
    <article class="_reasons_article">
      <h3 class="_sub_subtile">HISTORIAS, MODA Y ROPA DEPORTIVA</h3>
      <h2 class="_subtitle">TU TIENDA DE DEPORTE</h2>
      <P>El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te ofrece
        las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.</P>
    </article>
    <nav>
      <button class="_comprar_button">Comprar</button>
    </nav>
  </section>

  <section class="_reasons_section_2">

      <h4 class="_sub_sub_subtile">¡Prepáralos con tus marcas favoritas!</h4>
      <h2 class="_subtitle">VUELTA AL COLE</h2>

    <article class="_grid_article">
      <div class="_grid_picture">
        <img class="_image_grid" src="./images/lpbts-mod05-img01-desk.png" alt="schoolbag picture">
        <h4 class="_image_label">Mochilas escolares</h4>
      </div>
      <div class="_grid_picture">
        <img class="_image_grid" src="./images/lpbts-mod05-img04-mob.png" alt="school pencil cases picture">
        <h4 class="_image_label">Estuches</h4>
      </div>
      <div class="_grid_picture">
        <img class="_image_grid" src="./images/lpbts-mod05-img03-mob.png" alt="sports bags pictures">
        <h4 class="_image_label">Bolsas de deporte</h4>
      </div>
      
      <div>
        <button class="_grid_button _centered">Empezar ahora</button>
      </div>
    </article>

  </section>

</main>